@model IEnumerable<ECB.Models.Food>

@{
    ViewData["Title"] = "All Food";
}

<h1>Dish List</h1>
<hr />
@if(TempData["msg"] is not null)
{
    <div class="alert alert-success">@TempData["msg"]</div>
}
@if(TempData["error"] is not null)
{
    <div class="alert alert-danger">@TempData["error"]</div>
}
<div class="row justify-content-md-center">
    <table class="table table-border">
        <thead>
            <th>Name</th>
            <th>Description/Recipe</th>
            <th>Action</th>
        </thead>
        <tbody>
            @foreach(var e in Model)
            {
                <tr class="text-lg-start">
                    <td>@e.Name</td>
                    <td>@e.Description</td>
                    <td>
                        <a class="btn btn-primary" asp-controller="foods" asp-action="Edit" asp-route-id="@e.Id">Edit</a>
                        <a class="btn btn-danger" asp-controller="foods" asp-action="Remove" asp-route-id="@e.Id">Delete</a>
                    </td>
                </tr>
            }
       </tbody>
    </table>
   
</div>
<a class="btn btn-success" asp-action="Create" asp-controller="Foods">Click here to add a new dish</a>

<div>
    <br />
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
